table {
	border : 2px solid;
	border-spacing: 20px 30px;
	text-align: center;
}

#pstContent {
	width: 30vw;
	height: 20vh;
	min-width: 400px;
	min-height: 200px;
}


a:hover{
	text-decoration: underline;
}